NEXT_PUBLIC_SUPABASE_URL=qnbxhfuefttovztakwfw
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFuYnhoZnVlZnR0b3Z6dGFrd2Z3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NDE0MTEsImV4cCI6MjA5NjExNzQxMX0.l5UdDy8OnMoEh56H5MabDmnDHSZadwJNraSk1pGJvMQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFuYnhoZnVlZnR0b3Z6dGFrd2Z3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU0MTQxMSwiZXhwIjoyMDk2MTE3NDExfQ.hQdYB8_ZOYTq2XyONCVYVB7VQXn3uJt7aUSDRONTS3w
